<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Datatables</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready( function () {
		 var table = $('#workshopsTable').DataTable({
				"sAjaxSource": "/workshopJson",
				"sAjaxDataProp": "",
				"aoColumns": [
				      { "mData": "id"},
			      	  { "mData": "nombre" },
					  { "mData": "objetivo" },
					  { "mData": "keywords" },
					  { "mData": "tiempo" }
				]
		 })
	});
	</script>
</head>

<body>
<div><a href="/">Volver al inicio</a></div>
	<h1>Workshops</h1>
	<table id="workshopsTable" class="display">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
				<th>Nombre</th>
                <th>Objetivo</th>
                <th>Keywords</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
                <th>Id</th>
				<th>Nombre</th>
                <th>Objetivo</th>
                <th>Keywords</th>
                <th>Tiempo</th>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>