<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>TeCaSa</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div>
		<h1>Categorias</h1>
		<ul>
			<li><a href="/categoria/insertar">Insertar</a></li>
			<li><a href="/categoria/listar">Listar</a></li>
		</ul>
		
		
		<h1>Workshop</h1>
		<ul>
			<li><a href="/workshop/insertar">Insertar</a></li>
			<li><a href="/workshop/listar">Listar</a></li>
			<li><a href="/workshop/listarDatatables">Listar Datatables</a></li>
			<li><a href="/workshop/buscarCategoria">Buscar Por Categoria</a></li>
			<li><a href="/workshop/buscarKeyword">Buscar Por Keyword</a></li>
			<li><a href="/workshop/buscarAutor">Buscar Por Autor</a></li>
		</ul>
	</div>
</body>
</html>